<div class="container">
    <div class="row">
        <div class="col" style="text-align:center">
            <img src="img/aku.png" alt="Yasya Indra" class="img-thumbnail rounded-circle" width="600px">
            <h1 class="display-4">
                Yasya Indra
            </h1>
            <p class="lead">Sodtware Engineer | Student | Writter</p>
        </div>
    </div>
</div>